@tailwind components;
@tailwind utilities;


* {
  font-family: "Gill Sans", sans-serif;
  line-height: 1.4;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(var(--foreground-rgb));
}

.pwebpage {
  display: block;
}

.pwebpage__layout {
  margin: auto;
  max-width: 1336px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pwebpage__layout__main {
  min-width: 800px;
  max-width: 800px;
  padding-top: 3rem;
}

.pwebpage__layout__navbar {
  position: relative;
  display: block;
  box-sizing: border-box;
  max-width: 368px;
  min-width: 368px;
  min-height: 100vh;
  border-left: 1px solid rgb(242, 242, 242);
}